#config-server
GIT_USER=
GIT_TOKEN=

ENCRYPTION_KEY=

# Eureka Server Configuration
EUREKA_SERVER_PORT=8761
EUREKA_SERVER_URL=http://localhost:8761/eureka/

# PostgreSQL Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Cofig Server
CONFIG_SERVER_URL=http://localhost:8888

# API Gateway
API_GATEWAY_PORT=8080
# API_GATEWAY_OAUTH2_RESOURCE_JWT_ISSUER_URL=http://localhost:8180/realms/ecom-app

# Common lib
TRADEX_JWT_SECRET=

# Auth Service
AUTH_SERVICE_PORT=8081
AUTH_POSTGRES_DB=
AUTH_DB_URL=
AUTH_DB_USERNAME=
AUTH_DB_PASSWORD=

# Market Service
MARKET_SERVICE_PORT=
MARKET_POSTGRES_DB=
MARKET_DB_URL=
MARKET_DB_USERNAME=
MARKET_DB_PASSWORD=